/**
Caracteristicas ROOT para todo el documento en el cual se utilize esta hoja de estilos
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  cursor: grab;
  overflow: hidden;
}


/**
  1. background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); se utiliza para definir un fondo
  con diferentes colores con una inclinación de X grados.

  2. background-size: 400% 400%; se utiliza para establecer el tamaño de los colores de fondo.

  3. animation: gradient 10s ease-in infinite; se utiliza para darle un degradado cuyo degradado se va alternando
  durante 10s sin ningún limite de alternancias, esto debido a la caracteristica "INFINITE".

**/

#cuerpo_tablero {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease-in infinite;
}

/**
Los Keyframes se utilizan para establecer porcentajes y comportamientos de los estilos previamente definidos en 
#cuerpo_tablero. Como se ve aquí del 0% del fondo de la ventana, los colores se posicionan de un 0% a 50%. Y así sucesivamente
con los demas porcentajes establecidos en el KeyFrame.
**/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/**
Se utilizó min-width|max-width para "forzar" que el tamaño de la tabla "independientemente del dispositivo en el que se 
visualize" siempre mantenga dicha forma.
Así mismo se utilizo:
  1.justify-content: center;
  2.align-content: center;
  3.justify-items: center;
  4.align-items: center;
  5.text-align: center;
  6.margin: 0 auto;
para centrar nuestro tablero del juego.
**/
.tabla {
  width: 35%;
  min-width: 25%;
  max-width: 25%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 4%;
  padding-bottom: 30px;
}

td {
  border-style: solid;
  border-color: darkcyan;
  border-radius: 2px;
  background-color: darkgoldenrod;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-style: italic;
  color: whitesmoke;

}

/**
Se utilizó :hover para que al momento de posar el cursor sobre un cuadro del tablero,
este se estire hacia la derecha. Para dicho movimiento se utilizo esta característica:

1. transform: translate(-50%, -50%) rotate(45deg);
2. transition: 1s all ease;


**/
td:hover {
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

td::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.campo {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  font-size: medium;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/**
Se utilizo la caracteristica :hover para cuando se pose el cursor sobre un campo de el tablero de gato, el cursor
cambie de forma.
**/
.campo:hover {
  cursor: grabbing;
}

/**
Estilos de el div donde se muestran los diferentes mensajes que provee el juego
**/
#mensaje {
  font-size: medium;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#reiniciar {
  font-size: medium;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: black;
}

/**


**/
.btn {
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

/**


**/
.btn::before {
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

/**

**/
.btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
  height: 380%;
}